<h2>Comenzi care vin</h2>
{% for order in upcoming_orders %}
    <h3>Data: {{ order.pickUpDate.format('d-M-Y ') }}</h3>
    <h3>Categorie: {{ order.category.name }}</h3>
    <h3>Cantitate: {{ order.stock.remainingQuantity }} / {{ order.quantity }}</h3>
    <hr>
{% endfor %}

<h2>Comenzi care o trecut</h2>
{% for order in past_orders %}
    <h3>Data: {{ order.pickUpDate.format('d-M-Y ') }}</h3>
    <h3>Categorie: {{ order.category.name }}</h3>
    <h3>Cantitate: {{ order.stock.remainingQuantity }} / {{ order.quantity }}</h3>
    <hr>
{% endfor %}
